@-webkit-keyframes entree {
  0% {
    margin-left: -100px;
  } 100% {
    margin-left: 0;
  }
}

@-moz-keyframes entree {
  0% {
    margin-left: -100px;
  } 100% {
    margin-left: 0;
  }
}

@-ms-keyframes entree {
  0% {
    margin-left: -100px;
  } 100% {
    margin-left: 0;
  }
}

@-o-keyframes entree {
  0% {
    margin-left: -100px;
  } 100% {
    margin-left: 0;
  }
}

@keyframes entree {
  0% {
    margin-left: -100px;
  } 100% {
    margin-left: 0;
  }
}