html.apple {
  background: url('/assets/img/apple/background.jpg') center center fixed no-repeat;
}

html.apple #score table td span {
  font-family: 'Open Sans' !important;
}

html.apple #score table td:nth-of-type(1) {
  background: url('/assets/img/apple/apple.svg') 1em center no-repeat #FFF;
  background-size: contain;
}

html.apple #score table td:nth-of-type(1) span:before {
  content:"APPLE";
  padding-right: 2em;
}

html.apple #score table td:nth-of-type(2) {
  background: url('/assets/img/apple/fbi.svg') 97% center no-repeat #001167;
  background-size: contain;
}

html.apple #score table td:nth-of-type(2) span:after {
  content:"F.B.I.";
  padding-left: 2em;
}

html.apple #othello table tr td.can:hover {
  background: url('/assets/img/apple/star.svg') center center no-repeat rgba(0,136,0,0.8);
  background-size: 30px 30px;
}

/************** SI KYLOREN JOUE ***********************/
html.apple body.b #othello table tr td.can:hover, html.apple .noirs {
  background: url('/assets/img/apple/steve.png') center center no-repeat rgba(0,136,0,0.8);
  background-size: 30px 30px;
}

html.apple body.b #current:before {
  content:"APPLE";
}

html.apple body.b #current {
  background: url('/assets/img/apple/steve.png') right center no-repeat #E72539;
  background-size: contain;
}

/************** SI BB8 JOUE ***************************/

html.apple body.w #othello table tr td.can:hover, html.apple .blancs {
  background: url('/assets/img/apple/obama.png') center center no-repeat rgba(0,136,0,0.8);
  background-size: 30px 30px;
}

html.apple body.w #current:before {
  content:"F.B.I.";
}

html.apple body.w #current {
  background: url('/assets/img/apple/obama.png') right center no-repeat #001167;
  background-size: contain;
}

/******************************************************/


html.apple #othello table tr td.b {
  background: url('/assets/img/apple/steve.png') center center no-repeat;
  background-size: 75% 75%;
}

html.apple #othello table tr td.w {
  background: url('/assets/img/apple/obama.png') center center no-repeat;
  background-size: contain;
}

html.apple #menu button, html.apple #cadrebox {
  background: -webkit-linear-gradient(to left, #001167, #FFF);
  background: linear-gradient(to left, #001167, #FFF);
}