html.deadmau5 {
  background: url('/assets/img/deadmau5/background.jpg') center center fixed no-repeat;
}

html.deadmau5 #score table td span {
  font-family: 'Open Sans' !important;
}

html.deadmau5 #score table td:nth-of-type(1) {
  background: url('/assets/img/deadmau5/deadmau5.png') 1em center no-repeat #FFFD19;
  background-size: contain;
}

html.deadmau5 #score table td:nth-of-type(1) span:before {
  content:"DEADMAU5";
  padding-right: 2em;
}

html.deadmau5 #score table td:nth-of-type(2) {
  background: url('/assets/img/deadmau5/kanye.png') 97% center no-repeat #4CAF50;
  background-size: contain;
}

html.deadmau5 #score table td:nth-of-type(2) span:after {
  content:"KANYEWEST";
  padding-left: 2em;
}

html.deadmau5 #othello table tr td.can:hover {
  background: url('/assets/img/deadmau5/cheese.svg') center center no-repeat rgba(0,136,0,0.8);
  background-size: 30px 30px;
}

/************** SI deadmau5 JOUE ***********************/
html.deadmau5 body.b #othello table tr td.can:hover, html.deadmau5 .noirs {
  background: url('/assets/img/deadmau5/deadmau5-icon.png') center center no-repeat rgba(0,136,0,0.8);
  background-size: 30px 30px;
}

html.deadmau5 body.b #current:before {
  content:"DEADMAU5";
}

html.deadmau5 body.b #current {
  background: url('/assets/img/deadmau5/deadmau5-icon.png') right center no-repeat #FFFD19;
  background-size: contain;
}

/************** SI kanye JOUE ***************************/

html.deadmau5 body.w #othello table tr td.can:hover, html.deadmau5 .blancs {
  background: url('/assets/img/deadmau5/kanye.png') center center no-repeat rgba(0,136,0,0.8);
  background-size: 30px 30px;
}

html.deadmau5 body.w #current:before {
  content:"KANYE WEST";
}

html.deadmau5 body.w #current {
  background: url('/assets/img/deadmau5/kanye.png') right center no-repeat #4CAF50;
  background-size: contain;
}
/******************************************************/

html.deadmau5 #othello table tr td.b {
  background: url('/assets/img/deadmau5/deadmau5-icon.png') center center no-repeat;
  background-size: contain;
}

html.deadmau5 #othello table tr td.w {
  background: url('/assets/img/deadmau5/kanye.png') center center no-repeat;
  background-size: contain;
}

html.deadmau5 #menu button, html.deadmau5 #cadrebox {
  background: -webkit-linear-gradient(to left, #4CAF50 , #FFFD19);
  background: linear-gradient(to left, #4CAF50 , #FFFD19);
}