html.fsociety {
  background: url('/assets/img/fsociety/background.png') center center fixed no-repeat;
}

html.fsociety #score table td span {
  font-family: 'Open Sans' !important;
}

html.fsociety #score table td:nth-of-type(1) {
  background: url('/assets/img/fsociety/fsociety.png') 1em center no-repeat #F31530;
  background-size: contain;
}

html.fsociety #score table td:nth-of-type(1) span:before {
  content:"FSociety";
  padding-right: 2em;
}

html.fsociety #score table td:nth-of-type(2) {
  background: url('/assets/img/fsociety/evilcorp.png') 97% center no-repeat #000;
  background-size: contain;
  color: #FFF;
}

html.fsociety #score table td:nth-of-type(2) span:after {
  content:"EvilCorp";
  padding-left: 2em;
  color: #FFF;
}

html.fsociety #othello table tr td.can:hover {
  background: url('/assets/img/fsociety/star.svg') center center no-repeat rgba(0,136,0,0.8);
  background-size: 30px 30px;
}

/************** SI KYLOREN JOUE ***********************/
html.fsociety body.b #othello table tr td.can:hover, html.fsociety .noirs {
  background: url('/assets/img/fsociety/elliot.png') center center no-repeat rgba(0,136,0,0.8);
  background-size: 30px 30px;
}

html.fsociety body.b #current:before {
  content:"FSociety";
}

html.fsociety body.b #current {
  background: url('/assets/img/fsociety/elliot.png') right center no-repeat #F31530;
  background-size: contain;
}

/************** SI BB8 JOUE ***************************/

html.fsociety body.w #othello table tr td.can:hover, html.fsociety .blancs {
  background: url('/assets/img/fsociety/ec.png') center center no-repeat rgba(0,136,0,0.8);
  background-size: 30px 30px;
}

html.fsociety body.w #current:before {
  content:"EvilCorp";
}

html.fsociety body.w #current {
  background: url('/assets/img/fsociety/ec.png') right center no-repeat #000;
  background-size: contain;
}

/******************************************************/


html.fsociety #othello table tr td.b {
  background: url('/assets/img/fsociety/elliot.png') center center no-repeat;
  background-size: 75% 75%;
}

html.fsociety #othello table tr td.w {
  background: url('/assets/img/fsociety/ec.png') center center no-repeat;
  background-size: contain;
}

html.fsociety #menu button, html.fsociety #cadrebox {
  background: -webkit-linear-gradient(to left, #F31530 , #000);
  background: linear-gradient(to left, #F31530 , #000);
}