html, body {
  padding: 0;
  margin: 0;
  height: 100%;
}

html.hide {
  background: none;
}

html {
  background-size: cover !important;
}
* {
  font-family: 'Open Sans', sans-serif;
}

#score {
  background: #FFF;
  background-size: cover;
  display: block;
  border-bottom: 3px solid #FFF;
}

#score table {
  background-size: cover;
  border-collapse: collapse;
  width: 100%;
  padding: 0;
}

#score table td {
  width: 50%;
  padding: 1em;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

#score table td:nth-of-type(1) {
  text-align: right;
  border-right: 1px solid #000;
  background-size: contain;
}

#score table td:nth-of-type(2) {
  text-align: left;
  border-right: 1px solid #000;
  background-size: contain;
}

#othello {
  text-align: center;
  margin-top: 1em;
}

#othello table {
  margin: 0 auto;
  border: 3px solid #999;
  border-collapse: collapse;
  padding: 0;
  opacity: 0.8;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

#othello table:hover {
  opacity: 1;
}

#othello tbody {
  background: rgba(0,0,0,0.8);
}

#otello table tr {
  padding: 0;
  margin: 0;
}

#othello table td {
  width: 3em;
  height: 3em;
  line-height: 5%;
  display: inline-block;
  border: 1px solid #FFF;
  margin: 0;
  padding: 0;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

#othello table tr td.free {
  cursor: not-allowed;
}

#othello table tr td.can {
  background: rgba(0,136,0,0.8);
  cursor: pointer !important;
}

#othello table tr td.free:hover {
  background-size: 30px 30px;
}

#othello table tr td.can:hover {
  background-size: 30px 30px;
}

#othello table tr td.b {
  background-size: 75% 75%;
}

#othello table tr td.w {
  background-size: contain;
}

td.b, td.w {
  cursor: not-allowed;
}

#score-b, #score-w {
  padding: 0em 1em;
}

#score-f {
  display: none;
}

#musique {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0em;
  background: rgba(0,0,0,0.5);
}

#menu {
  position: fixed;
  top: 10em;
  left: 0;
  background: rgba(0,0,0,0.8);
  padding: 1em;
  -webkit-animation: entree 1 linear 0.3s;
  animation: entree 1 linear 0.3s;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  color: #FFF;
  text-align: center;
}

#themes:before {
  content:"Changer de theme";
  color: #FFF;
  display: block;
  font-size: 0.8em;
}

#tools select, #themes select {
  background: #FFF;
  color: #2D2D2D;
  border: 0;
}

#menu button {
  border: 0;
  color: #FFF;
  text-transform: uppercase;
  border-radius: 5px;
  cursor: pointer;
}

#debug:before {
  display: block;
  content: "Debug";
  color: #FFF;
}

#debug {
  max-height: 10em;
  overflow: auto;
  max-width: 10em;
}
#debug-code {
  white-space: pre-line;
  font-size: 0.7em;
}

.error {
  color: #E72539;
}

#video {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -5;
  display: none;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


@media screen and (max-width: 520px) {
  #othello table td {
    width: 2em;
    height: 2em;
  }

  #score table td span:before, #score table td span:after {
    content: '' !important;
  }

  #audio {
    display: none;
  }

  #menu {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    right: initial;
    top: initial;
    text-align: left;
  }

  #debug {
    display: none;
  }

  #themes, #tools, #reseau {
    display: inline-block;
  }

  hr {
    display: none;
  }

  #reseau {
    float: left;
  }

  #score table td {
    height: 0.8em;
  }

  #score table td {
    padding: 0.5em !important;
  }
}

.winner {
  zoom: 1.5;
  color: green;
}

#current {
  display: inline-block;
  margin-top: 0.5em;
  background: #FFF;
  border: 1px solid #2D2D2D;
  padding: 0.2em 1.4em 0.2em 0.4em;
}

#reseau input {
  font-size: 0.8em;
  border: 0;
  border-radius: 50px;
  width: 5em;
}

#reseau button {
  border: 0;
  color: #FFF;
  text-transform: uppercase;
  border-radius: 5px;
  cursor: pointer;
}

#reseau-toselect {
  display: block;
  background: #FFF;
  color: #2D2D2D;
  margin: 0.3em auto;
  width: 3em;
  text-align: center;
  padding: 0.2em 0.3em;
  border-radius: 50px;
}

#reseau-ia {
  padding: 0 !important;
  margin: 0 0 0 0.3em !important;
  width: 1.5em !important;
  height: 1.5em !important;
  background: #EA4335;
  border: 0 !important;
  border-radius: 0px;
  vertical-align: middle !important;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -mq-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  outline: 0;
}

#reseau-ia:checked {
  background: #34A853 !important;
}

.lastMove {
  background-color: #4d90fe !important;
}

#box {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#boxvoile {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.8);
  z-index: -1;
}

#cadrebox {
  margin: 2em auto;
  width: 70%;
  color: #FFF;
  border: 1px solid #999;
  border-radius: 3px;
  z-index: 2;
  padding: 1em;
}

#box.show {
  display: block;
}

.box-button {
  text-align: center;
}

.box-button button {
  margin: 1em 1.3em;
  background: #000;
  color: #FFF;
  padding: 0.2em 0.5em;
  border-radius: 50px;
  cursor: pointer;
  border: 0;
  font-size: 1.3em;
}

.noirs, .blancs {
  display: inline-block;
  width: 30px;
  height: 30px;
  vertical-align: middle;
  background-color: initial !important;
}