html.starwars {
  background: url('/assets/img/starwars/background.jpg') center center fixed no-repeat;
}

html.starwars #score table td span {
  font-family: 'Open Sans' !important;
}

html.starwars #score table td:nth-of-type(1) {
  background: url('/assets/img/starwars/firstorder.svg') 1em center no-repeat #E72539;
  background-size: contain;
}

html.starwars #score table td:nth-of-type(1) span:before {
  content:"FIRST ORDER";
  padding-right: 2em;
}

html.starwars #score table td:nth-of-type(2) {
  background: url('/assets/img/starwars/resistance.svg') 97% center no-repeat #E45C09;
  background-size: contain;
}

html.starwars #score table td:nth-of-type(2) span:after {
  content:"RESISTANCE";
  padding-left: 2em;
}

html.starwars #othello table tr td.can:hover {
  background: url('/assets/img/starwars/star.svg') center center no-repeat rgba(0,136,0,0.8);
  background-size: 30px 30px;
}

/************** SI KYLOREN JOUE ***********************/
html.starwars body.b #othello table tr td.can:hover, html.starwars .noirs {
  background: url('/assets/img/starwars/kyloren.png') center center no-repeat rgba(0,136,0,0.8);
  background-size: 30px 30px;
}

html.starwars body.b #current:before {
  content:"FIRST ORDER";
}

html.starwars body.b #current {
  background: url('/assets/img/starwars/kyloren.png') right center no-repeat #E72539;
  background-size: contain;
}

/************** SI BB8 JOUE ***************************/

html.starwars body.w #othello table tr td.can:hover, html.starwars .blancs {
  background: url('/assets/img/starwars/bb8.png') center center no-repeat rgba(0,136,0,0.8);
  background-size: 30px 30px;
}

html.starwars body.w #current:before {
  content:"RESISTANCE";
}

html.starwars body.w #current {
  background: url('/assets/img/starwars/bb8.png') right center no-repeat #E45C09;
  background-size: contain;
}

/******************************************************/


html.starwars #othello table tr td.b {
  background: url('/assets/img/starwars/kyloren.png') center center no-repeat;
  background-size: 75% 75%;
}

html.starwars #othello table tr td.w {
  background: url('/assets/img/starwars/bb8.png') center center no-repeat;
  background-size: contain;
}

html.starwars #menu button, html.starwars #cadrebox {
  background: -webkit-linear-gradient(to left, #E72539 , #E45C09);
  background: linear-gradient(to left, #E72539 , #E45C09);
}